html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; }

#page {
  width: 800px;
  margin: 50px auto 0 auto; }

#devs {
  border-top: 5px solid #eeeeee;
  padding: 5px 0 0 0;
  margin: 20px 0 0 0; }

#title {
  border-bottom: 5px solid #eeeeee;
  padding: 0 0 5px 0; }

.checkin {
  border-bottom: 1px solid #eeeeee;
  margin: 10px;
  padding: 10px 0; }

#rails {
  float: right; }

#foursquare {
  float: right; }

#rails, #foursquare {
  margin: 0 5px; }

.venue {
  clear: both;
  padding: 10px 0; }
  .venue .icon {
    float: left; }
  .venue .content {
    margin-left: 42px; }

.friend {
  clear: both;
  padding: 10px 0;
  height: 110px; }
  .friend .photo {
    float: left; }
  .friend .info {
    margin-left: 42px; }
